{% extends "reader/layout.html" %} 
{% load static %} 
{% block title %} 
Home
{%endblock %} 
{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %} 
{% block body %} 
{% include 'reader/searchbar.html' %}
<section class="container-fluid hero-section mb-5">
  <div class="hero-card d-flex flex-column flex-lg-row gap-4">
    <!--LEFT SIDE-->
    <div class="flex-grow-1 pd-3 ps-md-5 d-flex flex-column gap-3">
      <span class="badge"> Welcome, {{ user }}! </span>
      <h1 class="">
        Every story deserves
        <br />
        to be told.
      </h1>
      <div>
        Discover captivating stories, write your
        <br />own masterpiece, and connect with a community <br />
        of passionate readers and writers.
      </div>
      <div class="d-flex flex-row mt-3 gap-3">
        <button class="btn-reading py-2 px-3">Start Reading</button>
        <button class="btn-writing py-2 px-3">Start Writing</button>
      </div>
    </div>

    <!--RIGHT SIDE-->
    <div class="flex-grow-1">
      <img src="{% static 'reader/books.png' %}" alt="" />
    </div>
  </div>
</section>

<section class="container-fluid mt-3 mb-5">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <h3>Trending Now</h3>
    <h6>See more ></h6>
  </div>
  <h6>Most popular this week</h6>
      <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 gap-2">
        {% for book in books %}
        <div class="book-item-container d-flex flex-column gap-1 mb-3">
          <div class="book-item">
            <img src="{% static book.image '%}" alt="">
          </div>
          <div>
            <p><strong>{{ book.title }}</strong></p>
            <p class="text-muted">by {{ book.author }}</p>
          </div>
          <span class="badge">{{ book.genre }}</span>
          <p>{{ book.reads }} Reads</p>
        </div>
        {% endfor %}
      </div>
  
  <div class="d-flex flex-row justify-content-between align-items-center mt-5">
    <h3>New Release</h3>
    <h6>See more ></h6>
  </div>
  <h6>Most popular this week</h6>
      <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 gap-2">
        {% for book in books %}
        <div class="book-item-container d-flex flex-column gap-1 mb-3">
          <div class="book-item">
            <img src="{% static book.image '%}" alt="">
          </div>
          <div>
            <p><strong>{{ book.title }}</strong></p>
            <p class="text-muted">by {{ book.author }}</p>
          </div>
          <span class="badge">{{ book.genre }}</span>
          <p>{{ book.reads }} Reads</p>
        </div>
        {% endfor %}
      </div>
</section>


<section class="container-fluid mt-6">
    <h3>Browse Genres</h3>
    <div class="genre-card-container d-flex flex-row justify-content-around">
        {% for genre in genres %}
          <div class="genre-card d-flex flex-column justify-content-center align-items-center">
              <i class="bi {{ genre.icon }}"></i>
              {{ genre.genre }}
          </div>
        {% endfor %}
    </div>
</section>

<section class="container-fluid card text-center mt-4">
    <h5>"<strong>Reading</strong> is like breathing in, and <strong>writing</strong> is like breathing out." — Pam Allyn</h5>
</section>
{% endblock %}
