{% extends "reader/layout.html" %}

{% block title %}
Home
{% endblock %}
{% block style %}
    <style>
        .body {
            background-color: #f8f5f1;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="d-lg-none">
        <button class="btn btn-dark"
            data-bs-toggle="offcanvas"
            data-bs-target="#mobileSidebar"
        >
            <i class="bi bi-list"></i>
        </button>

    </div>
    <div class="row">
        {% include "reader/sidebar.html" %}
        <div class="col-12 col-lg-10 body vh-100">
            Body
        </div>
    </div>
</div>
{% endblock %}