{% extends "reader/layout.html" %} 
{% load static %} 
{% block title %} Home {%endblock %} 
{% block style %} 
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block body %}
{% include 'reader/searchbar.html' %}
<section class="container-fluid hero-section">
    <div class="hero-card d-flex flex-row">
        <!--LEFT SIDE-->
        <div class="flex-fill ps-5">
            <span class="welcome-badge">
                Welcome, {{ user }}!
            </span>
            <h2>
                Everyone story deserves 
                <br>
                to be told.
            </h2>
            <p>
                Discover captivating stories, write your 
                <br>own masterpiece, and connect with a community
                <br> of passionate readers and writers.
            </p>
            <button class="btn-reading py-2 px-3">
                Start Reading
            </button>
            <button class="btn-writing py-2 px-3">
                Start Writing
            </button>
        </div>
        
        <!--RIGHT SIDE-->
        <div class="flex-fill ">
                <img src="{% static 'reader/vividink.png' %}" alt="">
        </div>
    </div>
</section>

<section class="container-fluid">
    <h3>Trending Now</h3>
    <h6>Most popular this week</h6>
    <div class="d-flex flex-row justify-content-between">
        <div class="book-item-container d-flex flex-column">
            <div class="book-item">
                Book 1
            </div>
            <div>Book title</div>
            <span class="badge">romance</span>
            <p>1M Reads</p>
        </div>
                <div class="book-item-container d-flex flex-column">
            <div class="book-item">
                Book 1
            </div>
            <div>Book title</div>
            <span class="badge">romance</span>
            <p>1M Reads</p>
        </div>
                <div class="book-item-container d-flex flex-column">
            <div class="book-item">
                Book 1
            </div>
            <div>Book title</div>
            <span class="badge">romance</span>
            <p>1M Reads</p>
        </div>
                <div class="book-item-container d-flex flex-column">
            <div class="book-item">
                Book 1
            </div>
            <div>Book title</div>
            <span class="badge">romance</span>
            <p>1M Reads</p>
        </div>
                <div class="book-item-container d-flex flex-column">
            <div class="book-item">
                Book 1
            </div>
            <div>Book title</div>
            <span class="badge">romance</span>
            <p>1M Reads</p>
        </div>
                <div class="book-item-container d-flex flex-column">
            <div class="book-item">
                Book 1
            </div>
            <div>Book title</div>
            <span class="badge">romance</span>
            <p>1M Reads</p>
        </div>
    </div>
</section>
{% endblock %}
