<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">

    {% block style %} {% endblock %}
  </head>
  <body class="m-0">
    <div class="container-fluid">
      <!-- Mobile Sidebar -->
      <div class="d-lg-none d-flex align-items-center p-2">
        <button
          class="btn btn-dark"
          data-bs-toggle="offcanvas"
          data-bs-target="#mobileSidebar"
        >
          <i class="bi bi-list"></i>
        </button>
        <h4 class="sidebar-title ms-3 mb-0">Vivid Ink</h4>
        <div
          class="offcanvas offcanvas-start sidebar"
          tabindex="-1"
          id="mobileSidebar"
        >
          <div class="offcanvas-header">
            <img
              src="{% static 'reader/vividink.png' %}"
              alt="Vivid Ink Logo"
            />
            <h4 class="sidebar-title ms-3 mb-0">Vivid Ink</h4>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="offcanvas"
            ></button>
          </div>
          <div class="offcanvas-body">
            {% include "reader/sidebarMenu.html" %}
          </div>
        </div>
      </div>
      <!-- Desktop Sidebar-->
      <div class="row">
        {% include "reader/sidebar.html" %}
        <div class="col-12 col-lg-10 body vh-100">
          <!--Body of the page-->
          {% block body %} {% endblock %}
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
