<ul class="nav flex-column">
  <li class="nav-item">
    <a href="{% url 'index' %}" class="nav-link">
      <i class="bi bi-house-door me-2"></i>
      Home
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'discover' %}" class="nav-link">
      <i class="bi bi-compass me-2"></i>
      Discover
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'my-library' %}" class="nav-link">
      <i class="bi bi-book me-2"></i>
      My Library
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'reading-lists' %}" class="nav-link">
      <i class="bi bi-journal-bookmark me-2"></i>
      Reading Lists
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'saved-quote' %}" class="nav-link">
      <i class="bi bi-quote me-2"></i>
      Saved Quote
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'profile' %}" class="nav-link">
      <i class="bi bi-person me-2"></i>
      Profile
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'settings' %}" class="nav-link">
      <i class="bi bi-gear me-2"></i>
      Settings
    </a>
  </li>
</ul>
