.hero-card {
    background-color: #f2ece5;
    box-shadow: 5px;
    height: 300px;
    border-radius: 15px;
    padding: 20px;
}
.card{
    background-color: #f2ece5;
    box-shadow: 5px;
    height: 50px;
    border-radius: 15px;
    padding-top: 10px;
}
.welcome-badge {
    background: #efe4d7;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 40px;
}
.badge {
    display: inline-flex;
    align-items: center;
    background: #efe4d7;
    padding: 6px;
    color: black;
    width: max-content;
}
.btn-reading {
    background: #9b6737;
    color: white;
    border: none;
    border-radius: 15px;
}
.btn-writing {
    border: 1px solid #9b6737;
    background: transparent;
    border-radius: 15px;
}
.book-item-container {
    width: 150px;
    height: 270px;
}
.book-item {
    width: 100%;
    height: 200px;
    background-color:#9b6737;
    color: white;
}
.genre-card {
    border: 1px solid #9b6737;
    padding: 15px;
    width: 100px;
    height: 100px;
    color: black;
    border-radius: 10px;
}